# Ignore built artifacts
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Ignore Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Application config (manually managed)
src/main/resources/application.yaml

# Firebase secrets (important!)
src/main/resources/firebase/*.json
